<!--?xml version="1.0" encoding="UTF-8" ?-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myApp.dao.PortfolioMapper">
    <select id="selectAll" resultType="com.example.myApp.model.Portfolio"> <!-- 一覧表示 -->
        select portfolio_id, user_id, portfolioName, portfolioPic, introduction, createdat, updatedat
        from myApp_Portfolios
        order by portfolio_id
    </select>
    <insert id="insert" parameterType="com.example.myApp.model.Portfolio"> <!-- データ挿入 -->
        insert into myApp_Portfolios (user_id, portfolioName, portfolioPic, introduction, createdat, updatedat)
        values(#{user_id},#{portfolioName},#{portfolioPic},#{introduction},now(),now())
        <selectKey resultType="int" keyProperty="portfolio_id" order="AFTER">
            select @@IDENTITY
        </selectKey>
    </insert>
    <update id="update" parameterType="com.example.myApp.model.Portfolio"> <!-- データ更新 -->
        update myApp_Portfolios set portfolioName = #{portfolioName}, portfolioPic = #{portfolioPic}, introduction = #{introduction}, updatedAt = now() where portfolio_id = #{portfolio_id}
    </update>
</mapper>
