<!--?xml version="1.0" encoding="UTF-8" ?-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myApp.dao.UserWorkMapper">
    <select id="selectAllWorkByUser" parameterType="int"  resultType="com.example.myApp.model.UserWork"> <!-- 一覧表示 -->
        select
        work_id, user_id, workThumbnail, workLink, workDetail, createdat, updatedat
        from myApp_Userworks
        where user_id = #{user_id}
        order by work_id
    </select>

    <insert id="insert" parameterType="com.example.myApp.model.UserWork"> <!-- データ挿入 -->
        insert into myApp_UserWorks (user_id, workThumbnail, workLink, workDetail, createdat, updatedat)
        values(#{user_id},#{workThumbnail},#{workLink},#{workDetail},now(),now())
        <selectKey resultType="int" keyProperty="work_id" order="AFTER">
            select @@IDENTITY
        </selectKey>
    </insert>
    <update id="update" parameterType="com.example.myApp.model.UserWork"> <!-- データ更新 -->
        update myApp_UserWorks set workThumbnail = #{workThumbnail}, workLink = #{workLink}, workDetail = #{workDetail}, updatedAt = now() where work_id = #{work_id}
    </update>
</mapper>
